[project]
name = "sql-local"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.5",
    "pandas>=2.3.3",
    "duckdb>=1.1.0",
    "jupyter>=1.0.0",
    "ipykernel>=6.29.0",
]
